ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon ;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.about{
    background: url('assets/images/weather.jpg') no-repeat 200px 40px;
    color: black;
    text-align: center;
    padding: 200px;
    box-shadow: 5px 10px lightsalmon;
    font-family: "Calibri";
    margin: 0px;
    font-size:large;

}