.tbody{
    background-color: rgba(0, 0, 0, 0.3);
border-color: black;
border-width: 4px;

}

.thead{
    background-color:black;
    color:white;
}
a{
    color:black;
    padding-right: 40px;

}

#file a{
    padding-left:40px;
}

input[type=text]{
    border: 1px solid black;
    border-radius:4px;
padding:5px;
width:100%;
outline: none;
}
