<!--	<div class="panel panel-default">
  <div class="panel-heading">Trip Edit Form : </div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="updateTrip()">
  <div class="form-group">
    <label for="tri_name" class="col-sm-2 control-label">Trip Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.name" name="name" >
    </div>
  </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Trip Location : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.location" name="location">
    </div>
  </div>
  <div class="form-group">
    <label for="details" class="col-sm-2 control-label">Trip Details : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.details" name="details">
    </div>
  </div>
  <div class="form-group">
    <label for="budget" class="col-sm-2 control-label">Trip Budget : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.budget" name="budget">
    </div>
  </div>
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Update</button>
       <a class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>
   
  </div>
</form>

  </div>
</div>-->

<div class="panel ">
  <div class="panel-heading"><h4>Edit Trip Info :</h4> </div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="updateTrip()">
  <div class="form-group">
    <label for="tri_name" class="col-sm-2 control-label">Trip Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.name" name="name" >
    </div>
  </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Trip Location : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.location" name="location">
    </div>
  </div>
  <div class="form-group">
    <label for="details" class="col-sm-2 control-label">Trip Details : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.details" name="details">
    </div>
  </div>
  <div class="form-group">
    <label for="budget" class="col-sm-2 control-label">Trip Budget : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.budget" name="budget">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn ">Update</button>
       <a class="btn"  style="color:whitesmoke"(click)="goBack()">Cancel</a>
    </div>
  </div>
</form>
  </div>
</div>
