.panel-body{
    background-color: rgba(0, 0, 0, 0.3);
    width:85%;

}

.panel{
margin-left:20%;
margin-right:15%;
 padding-left:10px;
 padding-right:5px;
 padding-bottom:15px;

      background: url('assets/images/t2.jpg');
      background-repeat:no-repeat;
}
label{
    color:whitesmoke;
} 
h4{
    font-style: bold;
    color:whitesmoke;
}

input[type=text]{

   border: 1px solid black;
   border-radius:4px;
padding:5px;
outline: none;
}

.btn{
    background-color: black;
    color:whitesmoke;
}
