

  <h2>{{ data[0].mode_name }}</h2>
  <h4><a >{{ data[0].route[0].route_name }}</a></h4>
  <h4>{{ data[0].route[1].route_name }}</h4>
  <h4>{{ data[0].route[2].route_name  }}</h4>
  <h4>{{ data[0].route[3].route_name }}</h4>
  <h4>{{ data[0].route[4].route_name }}</h4>
  <h4>{{ data[1].route[0].route_name }}</h4>
  <h4>{{ data[1].route[1].route_name }}</h4>
  <h4>{{ data[1].route[2].route_name }}</h4>

<!--<h4> {{ data[3].mode_name}}</h4>-->

<h2> {{ data[4].mode_name }}</h2>
  <h4>{{ data[4].route[0].route_name }}</h4>
  <h4>{{ data[4].route[0].route_name }}</h4>  



